---
Checks: >
    bugprone-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    modernize-*,
    performance-*,
    readability-*,
    -readability-identifier-length,
    -cppcoreguidelines-avoid-magic-numbers,
    -readability-magic-numbers,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-type-union-access
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
CheckOptions:
  - key:             readability-function-cognitive-complexity.Threshold
    value:           50
  - key:             bugprone-macro-parentheses.IgnoreMacros
    value:           '1'
  - key:             modernize-use-trailing-return-type.IgnoreMacros
    value:           '1'
