[submodule "tools/third-party/eigen-5.0.0"]
	path = tools/third-party/eigen-5.0.0
	url = https://gitlab.com/libeigen/eigen.git
[submodule "tools/third-party/nlohmann-json-3.12.0"]
	path = tools/third-party/nlohmann-json-3.12.0
	url = https://github.com/nlohmann/json.git
[submodule "tools/third-party/googletest-1.17.0"]
	path = tools/third-party/googletest-1.17.0
	url = https://github.com/google/googletest.git
[submodule "tools/third-party/spdlog-1.17.0"]
	path = tools/third-party/spdlog-1.17.0
	url = https://github.com/gabime/spdlog.git
[submodule "tools/third-party/yaml-cpp-0.8.0"]
	path = tools/third-party/yaml-cpp-0.8.0
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "tools/third-party/geographiclib-2.7"]
	path = tools/third-party/geographiclib-2.7
	url = https://github.com/geographiclib/geographiclib.git
[submodule "tools/third-party/fmt-11.0.x"]
	path = tools/third-party/fmt-11.0.x
	url = https://github.com/fmtlib/fmt.git
[submodule "tools/third-party/tl-expected-1.1.0"]
	path = tools/third-party/tl-expected-1.1.0
	url = https://github.com/TartanLlama/expected.git
[submodule "tools/third-party/casadi-3.7.2"]
	path = tools/third-party/casadi-3.7.2
	url = https://github.com/casadi/casadi.git
[submodule "tools/third-party/ipopt-3.14.19"]
	path = tools/third-party/ipopt-3.14.19
	url = https://github.com/coin-or/Ipopt.git
[submodule "tools/third-party/boost-1.91.0"]
	path = tools/third-party/boost-1.91.0
	url = https://github.com/boostorg/boost.git
